<div class="row">
    <div class="col-12 mt-2">
        <div class="card-columns">
            <div class="card" *ngFor="let course of courses">
                <img
                    [src]="course.image" 
                    class="card-img-top img-fluid">
                <div class="card-body">
                    <h5 class="card-title">{{course.title}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{course.lessons.length}} lessons - {{course.lessons.length * 2}} hourse</h6>
                    <p class="card-text">{{course.description}}</p>
                    <a 
                        [routerLink]='["/courses", course.url]'
                        class="card-link">
                        More info
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
