<div class="row">
    <div class="col-8 mx-auto">
        <h1 class="text-center"><i class="far fa-id-card">Personal info</i></h1>
        <h2>{{info.firstName}} {{info.lastName}}</h2>
        <p><b>Date of birth: </b> {{info.bifthDate}} </p>
        <p><i class="fas fa-home"><b> Address: </b>{{info.address}}</i></p>
        <p><i class="far fa-envelope"><b> E-mail: </b>{{info.email}}</i></p>
        <p><i class="fab fa-skype"><b> Skype: </b>{{info.skype}}</i></p>
        <p><i class="far fa-comments"><b> Languages: </b></i></p>
        <ul>
            <li *ngFor="let language of info.languages">{{language}}</li>
        </ul>
        <p><i class="fas fa-briefcase"><b>Work Experience</b></i></p>
        <ul>
            <li *ngFor="let job of info.workExperience">
                {{job.company}} - {{job.position}}
            </li>
        </ul>
        <p><i class="fas fa-university"><b>Education:</b> {{info.education}}</i></p>
        <p><i class="fas fa-marker"></i> <b>Skills:</b></p>
        <ul>
          <li *ngFor="let skill of info.skills">{{skill}}</li>
        </ul>
    </div>
</div>
